<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @local_directory.path %>
</p>

<%= link_to 'Edit', edit_local_directory_path(@local_directory) %> |
<%= link_to 'Back', local_directories_path %>
